body {
  margin: 0;

  padding: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

/*************************** Style Landing Page 1 *******************************/

/* Style Body */

#containerLandingV1 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.logoHeader {
  margin-top: 5px;
}

.accessLinks {
  margin-bottom: 100px;
}

.arrowImage {
  margin-left: 34px;
  width: 36%;
  margin-top: 21px;
}

.LandingFirstText {
  margin-top: 44px;
  font-size: 20px;
  text-align: center;
}

.LandingSecondText {
  margin-top: 20px;
  font-size: 24px;
  margin-left: 108px;
}

.LandingThirdText {
  margin-top: 55px;
  font-size: 19px;
  margin-left: 42px;
}

#accessLinks {
  margin-left: -60px;
  margin-top: 9px;
}

/* Style Footer  */

.toolbar_links {
  list-style: none;
  height: 10%;
}

.toolbar_links a {
  padding: 0px 20px;
  color: black;
}
.homeIcon {
  font-size: 34px;
  margin-left: 156px;
}

/*************************** Style Landing Page 2 *******************************/
#containerLandingV2 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 69px;
}

/* Style Header */
.navHeaderV2 a,
li {
  font-size: 18px;
  color: whitesmoke;
  font-weight: solid;
}

/* Style Body */
.logo img {
  width: 100%;
  margin-top: 10px;
}

.LandingFirstTextV2 {
  text-align: center;
  margin-top: 15px;
  font-size: 22px;
}
.arrowImageV2 img {
  width: 100%;
  margin-top: 17px;
}

.CarouselLanding {
  margin-top: 20px;
}

.imgCarousel {
  width: 100%;
}
/* Style Navbar */

.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: darkslategrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
}

.Toolbar nav {
  height: 100%;
}

.NavigationItems {
  margin: 0;
  padding: 8;
  list-style: none;
  display: flex;
  height: 100%;
}

.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  height: 100%;
}

.NavigationItem a {
  color: white;
  width: 100%;
  height: 100px;
  text-decoration: none;
  box-sizing: border-box;
}

.NavigationItem a:hover,
.NavigationItem a:active {
  background-color: grey;
}

.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__line {
  width: 30px;
  height: 2px;
  background: white;
}

#SideDrawer {
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border box;
  background-color: black;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  padding: 32px 16px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

@media (min-width: 500px) {
  .SideDrawer {
    display: none;
  }
}

.Open {
  transform: translateX(0);
}
.Close {
  transform: translateX(-100%);
}

/*************************** Style City Page  *******************************/

.containerLandingV2 {
  min-height: 100%;
  position: relative;
}

.cityCard {
  margin-top: 58px;
  margin-bottom: -10px;
  height: 155px;
}

.card-img {
  height: 155px;
}

.cityDisplayContainer {
  padding: 10px;
  padding-bottom: 100px; /* Height of the footer */
}
#toolbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Height of the footer */
}

/*************************** Style Itinerary Page  *******************************/

.ItineraryBannerPic {
  margin-top: 17px;
  margin-bottom: 15px;
  height: 155px;
  width: 100%;
}

.itineraryCard {
  height: 100%;
  width: 100%;
}
.ItineraryPageTx {
  margin-bottom: 10px;
}

.hostPicItinerary {
  width: 100%;
}

.ratingTag,
.hashTags {
  margin-left: 86px;
}

.CheckAnotherCity {
  margin-top: 66px;
  margin-left: -20px;
}

.ActivityPic {
  width: 94%;
}

.slick-arrow.slick-prev {
  left: -4% !important;
  z-index: 1;
  color: grey;
}
.slick-arrow.slick-next {
  right: 1% !important;
  z-index: 1;
  color: black;
}
