/*************************** Style Landing Page 1 *******************************/

/* Style Body */
/* 
#containerLandingV1 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} */

/* .logoHeader {
  margin-top: 5px;
} */
/* 
.accessLinks {
  margin-bottom: 100px;
}
.arrowImage {
  margin-left: 34px;
  width: 36%;
  margin-top: 21px;
}

.LandingFirstText {
  margin-top: 44px;
  font-size: 20px;
  text-align: center;
} */
/* 
.LandingSecondText {
  margin-top: 20px;
  font-size: 24px;
  margin-left: 108px;
}

.LandingThirdText {
  margin-top: 55px;
  font-size: 19px;
  margin-left: 42px;
}

#accessLinks {
  margin-left: -60px;
  margin-top: 9px;
} */

/* Style Footer  */

/* .toolbar_links {
  list-style: none;
  height: 10%;
}

.toolbar_links a {
  padding: 0px 20px;
  color: black;
}
.homeIcon {
  font-size: 34px;
  margin-left: 156px;
} */

/*************************** Style Landing Page 2 *******************************/
#containerLandingV2 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

/* Style Body */
.logo img {
  width: 100%;
  margin-top: 10px;
}

.LandingFirstTextV2 {
  text-align: center;
  margin-top: 15px;
  font-size: 22px;
}

.iArrow {
  color: darkslategrey;
  font-size: 80px;
  margin-top: 20px;
}

/* Style NavBar */

.avatar {
  width: 100%;
}

.iAvatar {
  font-size: 20px;
}

.sticky-nav {
  position: sticky;
  top: 0;
}
.navbar-toggler {
  margin-left: 54px;
}

.nav-item {
  color: whitesmoke;
  font-size: 19px;
}

/* Style Toolbar */

#toolbar {
  width: 100%;
  height: 60px; /* Height of the footer */
}

.iHome {
  font-size: 30px;
  color: darkslategrey;
  margin-left: 160px;
}

/*************************** Style City Page  *******************************/

.cityCard {
  margin-top: 10px;
  margin-bottom: 20px;
}

.cardTitle {
  color: black;
  font-size: 14px;
  text-align: center;
}

/*************************** Style Itinerary Page  *******************************/

.itineraryCard {
  height: 100%;
  width: 100%;
}
.ItineraryPageTx {
  margin-bottom: 10px;
}

.hostPicture {
  max-width: 230px;
  max-height: 95px;
  width: auto;
  height: auto;
}

.ratingTag,
.hashTags {
  margin-left: 86px;
}

.CheckAnotherCity {
  margin-top: 66px;
  margin-left: -20px;
}

.ActivityPic {
  width: 94%;
}

.slick-arrow.slick-prev {
  left: -4% !important;
  z-index: 1;
  color: grey;
}
.slick-arrow.slick-next {
  right: 1% !important;
  z-index: 1;
  color: black;
}

.containerFlexbox {
  display: flex; /* or inline-flex */
  flex-direction: column;
  justify-content: space-evenly;
  border-style: solid;
}

.user {
  width: 20%;
  height: auto;
}
.hostName {
  display: flex; /* or inline-flex */
  flex-direction: column;
}

.detailsBox,
.itineraryHeader {
  display: flex; /* or inline-flex */
  flex-direction: row;
}
