/*************************** Style Landing Page 1 *******************************/

/* Style Body */
/* 
#containerLandingV1 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} */

/* .logoHeader {
  margin-top: 5px;
} */
/* 
.accessLinks {
  margin-bottom: 100px;
}
.arrowImage {
  margin-left: 34px;
  width: 36%;
  margin-top: 21px;
}

.LandingFirstText {
  margin-top: 44px;
  font-size: 20px;
  text-align: center;
} */
/* 
.LandingSecondText {
  margin-top: 20px;
  font-size: 24px;
  margin-left: 108px;
}

.LandingThirdText {
  margin-top: 55px;
  font-size: 19px;
  margin-left: 42px;
}

#accessLinks {
  margin-left: -60px;
  margin-top: 9px;
} */

/* Style Footer  */

/* .toolbar_links {
  list-style: none;
  height: 10%;
}

.toolbar_links a {
  padding: 0px 20px;
  color: black;
}
.homeIcon {
  font-size: 34px;
  margin-left: 156px;
} */

/*************************** Style Layout *******************************/

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

/* Style NavBar */

.iImage {
  height: 50px;
  padding-right: 11px;
}

.iAvatar {
  font-size: 34px;
  margin-top: 5px;
  padding-right: 11px;
}

.nav-item {
  display: flex;
  color: whitesmoke;
  font-size: 19px;
  align-self: center;
}

/* Style Toolbar */
.icon {
  color: whitesmoke;
  font-size: 20px;
  padding-left: 2px;
}

.svg-inline--fa {
  margin-left: 9px;
}

.icon:hover {
  color: grey;
}

/*************************** Style Landing Page 2 *******************************/

/* Style Body */

.logo img {
  width: 100%;
  margin-top: 10px;
}

.landingFirstTextV2 {
  margin-top: 15px;
  font-size: 18px;
  text-align: center;
}

.browse-button {
  margin-top: 20px;
}
.browse-text {
  font-size: 22px;
}

.iArrow {
  color: darkslategrey;
  font-size: 25px;
  margin-left: 3px;
  margin-bottom: -3px;
}

.landingSlider {
  margin-top: 27px;
  border-style: outset;
}

.landingSlider img {
  width: 100px;
  height: 250px;
}

/*************************** Style City Page  *******************************/
.cityHeaderTxt {
  margin-top: 25px;
}

#search-bar {
  margin-top: 9px;
  width: 100%;
}

#city-page {
  width: 74%;
  margin-top: 12px;
  text-align: center;
  border-style: outset;
  border-width: 1px;
  border-color: black;
  background-color: silver;
}

.city-card {
  display: flex;
  flex-direction: column;
  height: 44px;
}

.card-title {
  color: black;
  font-size: 16px;
  font-weight: bold;
}
.card-subtitle {
  color: black;
  font-size: 10px;
}

/*************************** Style Itinerary Page  *******************************/

.image-banner {
  margin-top: 10px;
  width: 100%;
}

.itinerary-text {
  margin-top: 15px;
}
.another-city-link {
  margin-top: 5px;
}

/** itinerary card **/
.card-container {
  display: flex;
  flex-direction: column;
  border-style: outset;
  width: 102%;
}

.itinerary-header {
  display: flex;
  justify-content: flex-start;
}
.itinerary-title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 18px;
}

.user {
  margin-top: 6px;
  margin-left: 4px;
}

.user img {
  max-width: 57px;
  height: 63px;
  border-radius: 25px;
}

.detailsBox,
.hashtags {
  display: flex;
  justify-content: space-evenly;
  margin-left: 19px;
  height: 42px;
}
.detailsBox,
.hashtags > p {
  padding: 10px;
}

/** activity  slider  **/

.activity-toggle {
  height: 54px;
}

#view-all-button {
  position: absolute;
  margin-top: 7px;
  margin-left: 8px;
}

.toggle-text {
  margin-left: 7px;
}

.activity-slider {
  margin-left: 31px;
  height: 100%;
}

.activity-card img {
  height: 91px;
  width: 110px;
}

#activity-title {
  height: 0px;
}

/* .slick-slide {
  margin: 0 27px;
}
*/
/* the parent */
/* .slick-list {
  margin: 0 -27px;
} */

.slick-arrow.slick-prev {
  left: 0% !important;
  z-index: 1;
}
.slick-arrow.slick-next {
  right: 2% !important;
  z-index: 1;
}

/*************************** Register  & Login Page  *******************************/

#register-form {
  width: 294px;
  height: 297px;
}

#login-button {
  margin-top: 16px;
}

#raised-button-file {
  margin-top: 15px;
  border-style: outset;
  width: 70%;
}
.new-user {
  margin-top: 80px;
}

/*** Google LogIn***/

.a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}
.button {
  display: inline-block;
  max-width: 300px;
  margin-top: 35px;
  border: 0;
  padding: 0 18px;
  text-align: left;
  width: 100%;
  height: 37px;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0, 0, 0, 0.84) !important;
  fill: rgba(0, 0, 0, 0.84) !important;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.05);
  font: inherit;
  outline: none;
}
.button .svgIcon {
  vertical-align: middle;
  fill: rgba(0, 0, 0, 0.54);
  padding-right: 4px;
  height: 37px;
  display: inline-block;
}
