body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

/*************************** Style Landing Page 1 *******************************/

/* Style Body */

#containerLandingV1 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.logoHeader {
  margin-top: 5px;
}

.accessLinks {
  margin-bottom: 100px;
}

.arrowImage {
  margin-left: 34px;
  width: 36%;
  margin-top: 21px;
}

.LandingFirstText {
  margin-top: 44px;
  font-size: 20px;
  text-align: center;
}

.LandingSecondText {
  margin-top: 20px;
  font-size: 24px;
  margin-left: 108px;
}

.LandingThirdText {
  margin-top: 55px;
  font-size: 19px;
  margin-left: 42px;
}

#accessLinks {
  margin-left: -60px;
  margin-top: 9px;
}

/* Style Footer  */

.toolbar_links {
  list-style: none;
  display: flex;
  height: 10%;
}

.toolbar_links a {
  padding: 0px 20px;
  color: black;
}

/*************************** Style Landing Page 2 *******************************/
#containerLandingV2 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 69px;
}

/* Style Header */
.navHeaderV2 a,
li {
  font-size: 18px;
  color: whitesmoke;
}
/* Style Body */
.logo img {
  width: 100%;
  margin-top: 10px;
}

.LandingFirstTextV2 {
  text-align: center;
  margin-top: 15px;
  font-size: 22px;
}
.arrowImageV2 img {
  width: 100%;
  margin-top: 17px;
}

.CarouselLanding {
  margin-top: 20px;
}

.imgCarousel {
  width: 100%;
}
