body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: "Open Sans", sans-serif;
}

.header {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  height: 164%;
}

.logo img {
  height: 100%;
}

.imageFooter {
  position: fixed;
  display: flex;
  justify-content: center;
}

.imageFooter img {
  width: 10%;
}

.landing {
  margin-top: 80px;
}
